/*全局CSS文件*/

/*默认字体颜色*/
.f-color{
	color: #636263;
	font-size: 30rpx;
}
/*选中字体颜色*/
.filter-active-color{
	color:#ff5733;
}
/*背景颜色*/
.bg-color{
	background-color: aliceblue;
}
/*隐藏滚动条*/
::-webkit-scrollbar {
	display: none;
	width: 0 !important;
	height: 0 !important;
	-webkit-appearance: none;
	background: transparent;
}